# Godot 4+ cache & export files
.godot/
*.translation

# Mono / C# (if any)
.mono/
[Bb]in/
[Oo]bj/

# OS generated
.DS_Store
Thumbs.db
000. asset
.agents
D:\Workspace\Antigravity\Demo_SurvivalGame\.agents\skills\ppt-master